body {
    background-image: url('/assets/img/pattern6.jpg');
    font-family: 'Fjalla One', sans-serif;
}

.brand-logo {
    max-width: 128px; 
    margin-top: 10px;
}

.heading-image {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .7);
    width: 100%;
    text-align: left;
    padding: .5em 2em;
}

.image-heading {
    margin: 0;
    padding: .3em 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,2b2b2b+16,000000+91,131313+100 */
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #2b2b2b 16%, #000000 91%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#2b2b2b 16%,#000000 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#2b2b2b 16%,#000000 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    -webkit-border-top-left-radius: .5em;
    -webkit-border-top-right-radius: .5em;
    -moz-border-radius-topleft: .5em;
    -moz-border-radius-topright: .5em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    text-shadow: #232 1px 1px 0px;

    font-family: 'Lobster', cursive;
}

.height-360 {
    height: 360px;
}

.title-heading {
    margin: 0;
    padding: .5em;
    text-align: center;
    border-radius: .2em .2em 0 0;
}

.transparent-bg {
    background: rgba(0, 0, 0, .8);
}

/*#####################
Additional Styles (required)
#####################*/
#image_slider .carousel-caption {
    left:0;
    right:0;
    bottom:0;
    text-align:center;
    padding:10px;
    background:rgba(0,0,0,0.6);
    text-shadow:none;
}

#image_slider .list-group {
    position:absolute;
    top:0;
    right:0;
}
#image_slider .list-group-item {
    border-radius:0px;
    cursor:pointer;
}
#image_slider .list-group .active {
    background-color:#eee;	
}

.social a {
    color: #444;
}

.localizations {
    margin: 2em .8em;
    height: 100%;
}

.localizations a{
    float: left;
    border: none !important;
    padding: 0 !important;
    background: transparent !important;
}

.localizations abbr {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

.localization a:hover {
    border: #FF9233 2px solid;
}

.locale {
    width: 32px;
    height: 24px;
    background-image: url('/assets/img/bgXen.png') !important;
}

.locale-bg {
    background-position: -32px 0px;
}

.locale-en {
    background-position: 0px 0px;
}

.img-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 10px rgba(0, 89, 215, .5) solid;
}

.skills div {
    text-align: center;
}

.skills p {
    min-height: 60px;
}

.title-list .span-title, .quote-list .span-title {
    line-height: 35px;
    vertical-align: middle;
    display: inline-block;
    background: #AAA;
    color: #222;
    width: 100%;
}

.date-post {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    color: grey;
    padding: .1em .3em;
}

.feed, .quote-list .span-title {
    height: 91px;
    font-size: 16px;
}

.feed span {
    font-size: 18px;
}

.quote-list .feed {
    height: 101px;
    text-align: left;
}

.quote-body {
    margin: 0 .4em;
    color: #222;
}

.image-sort-options {
    min-height: 100px !important;
}

div.image-sort-options::before {
    position: absolute;
    z-index: -1;
    height: 500px;
    width: 300px;
    margin-left: -15px;;
    
    background: #EEE;
    content: '';
}

.image-sort-options checkbox-label {
    width: 120px !important;
}

.image-sort-options {
    background: #eee;
}

.section {
}

.section button {
  color: #6496c8;
  background: rgba(0,0,0,0);
  border: solid .3em #6496c8;
  margin: .3em;
  float: right;
  width: 150px;
}
.section button:hover,
.section button.hover {
  border-color: #346392;
  color: #346392;
}
.section button:active,
.section button.active {
  border-color: #27496d;
  color: #27496d;
}

@media (min-width: 992px) { 
    #image_slider {padding-right:33.3333%;}
    #image_slider .carousel-controls {display:none;} 	
    
    @media (max-width: 991px) { 
        .carousel-caption p,
        #image_slider .list-group {display:none;} 
        .slider_container {display: none !important}
    }
}

