.jssor-size {
    min-width: 1080px;
    width:100%;
    height:480px;
    top:0px;
    left:0px;
    overflow:hidden;
    position:relative;
}
.jssor-box {
    margin:0 auto;
    visibility:hidden;
}

.jssor-thumbnails-box {
    position: absolute; 
}

.jssor-slide {
    cursor:default;   
}

.jssor-spinner-box {
    position: absolute; 
    top: 0px; 
    left: 0px;
}


.jssor-top-spinner {
    filter: alpha(opacity=70); 
    opacity: 0.7; 
    position: absolute;
    display: block; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
}

.jssor-spinner {
    position:absolute;
    display:block;
    background:url('/assets/img/spinner.gif') no-repeat center center;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

/* jssor slider bullet navigator skin 07 css */
/*
.jssorb07 div           (normal)
.jssorb07 div:hover     (normal mouseover)
.jssorb07 .av           (active)
.jssorb07 .av:hover     (active mouseover)
.jssorb07 .dn           (mousedown)
*/
.jssorb07 {
    position: absolute;
}
.jssorb07 div, .jssorb07 div:hover, .jssorb07 .av {
    position: absolute;
    /* size of bullet elment */
    width: 20px;
    height: 20px;
    background: url(../img/b07.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb07 div { background-position: -5px -5px; }
.jssorb07 div:hover, .jssorb07 .av:hover { background-position: -35px -5px; }
.jssorb07 .av { background-position: -65px -5px; }
.jssorb07 .dn, .jssorb07 .dn:hover { background-position: -95px -5px; }
/* jssor slider arrow navigator skin 06 css */
/*
.jssora06l                  (normal)
.jssora06r                  (normal)
.jssora06l:hover            (normal mouseover)
.jssora06r:hover            (normal mouseover)
.jssora06l.jssora06ldn      (mousedown)
.jssora06r.jssora06rdn      (mousedown)
.jssora06l.jssora06lds      (disabled)
.jssora06r.jssora06rds      (disabled)
*/
.jssora06l, .jssora06r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: url(../img/a06.png) no-repeat;
    overflow: hidden;
}
.jssora06l { background-position: -8px -38px; }
.jssora06r { background-position: -68px -38px; }
.jssora06l:hover { background-position: -128px -38px; }
.jssora06r:hover { background-position: -188px -38px; }
.jssora06l.jssora06ldn { background-position: -248px -38px; }
.jssora06r.jssora06rdn { background-position: -308px -38px; }

.jssora06l.jssora06lds { background-position: -8px -38px; opacity: .3; pointer-events: none; }
.jssora06r.jssora06rds { background-position: -68px -38px; opacity: .3; pointer-events: none; }

/* jssor slider thumbnail navigator skin 05 css */
/*
.jssort05 .p           (normal)
.jssort05 .p:hover     (normal mouseover)
.jssort05 .pav           (active)
.jssort05 .pav:hover     (active mouseover)
.jssort05 .pdn           (mousedown)
*/
.jssort05 {
    position: absolute;
    /* size of thumbnail navigator container */
    width: 100%;
    height: 80px;
    background: rgba(17, 8, 17, .7);
}

.jssort05 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 96px;
    height: 54px;
}

.jssort05 .o {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 96px;
    height: 54px;
    overflow: hidden;
}

.jssort05 .b {
    position: absolute;
    top: 0;
    left: 0;
    width: 96px;
    height: 54px;
    border: none;
}

.jssort05 .f {
    position: absolute;
    top: 0;
    left: 0;
    width: 96px;
    height: 54px;
    border: none;
    clip: rect(8px 87px 45px 8px);
}

.jssort05 .i {
    position: absolute;
    top: 0;
    left: 0;
    width: 96px;
    height: 54px;
    background: #000;
    filter: alpha(opacity=30);
    opacity: .3;
    transition: background-color .6s;
    -moz-transition: background-color .6s;
    -webkit-transition: background-color .6s;
    -o-transition: background-color .6s;
}

.jssort05 .pav .i {
    background: #fff;
    filter: alpha(opacity=80);
    opacity: .8;
}

.jssort05 .p:hover .i, .jssort05 .pav:hover .i {
    background: #fff;
    filter: alpha(opacity=30);
    opacity: .3;
}

.jssort05 .p:hover .i {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

.jssort05 .p.pdn .i {
    background: none;
}